MONGO_URI=mongodb+srv://securedbymahdi_db_user:mymongopass1036@cluster0.nqbwjrw.mongodb.net/?appName=Cluster0
JWT_SECRET=this_is_a_super_secret_key_change_it_later
GOOGLE_CLIENT_ID=904985978223-5tddmhgh1sj3hvet5leesapfmd7mlbdc.apps.googleusercontent.com
PORT=5000
MATCHING_SERVICE_URL=http://localhost:6000
NOTIFICATION_SERVICE_URL=http://localhost:7000
